exportPattern("^hhg.+")
exportPattern("^datagen+")
exportPattern("^dynamic.+")
exportPattern("^Fast.+")
exportPattern("^print.+")
exportPattern("^nr_bins_equipartition")
useDynLib(HHG,.registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom("methods", "is")
S3method(print,UnivariateObject)
S3method(print,UnivariateStatistic)
S3method(print,HHG.Test.Result)
import(stats)

